.page {
	min-height: 1000px;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1;
	background-image: radial-gradient(
			circle at -37% -38%,
			#d73c3c2e 59%,
			transparent 59.05%
		),
		radial-gradient(circle at 88% -48%, #797dec28 46%, transparent 46.05%),
		linear-gradient(-38deg, #f7da4529 34%, transparent 34.05%);
}
